.chempionov {
    background: linear-gradient(135deg, rgba(13,13,123,1) 35%, rgba(191,0,255,1) 100%);
    color: #fff !important;
}
.Yevropi {
    background: linear-gradient(135deg, rgba(255,87,0,1) 35%, rgba(0,0,0,1) 100%);
    color: #fff !important;
}
.konferentsii {
    background: linear-gradient(135deg, rgba(25,199,120,1) 35%, rgba(0,0,0,1) 100%);
    color: #fff !important;
}
.Vilet {
    background: rgb(231, 0, 0);
    color: #fff !important;
}
.stikovie {
    background: rgb(255, 53, 53);
    color: #fff !important;
}

#league > div.leagueStandings > div > div:nth-child(3) {
    min-width: 130px;
}
#league > div.leagueStandings > div > div:nth-child(2) {
    min-width: 120px;
}
.leagueStandings .logoPageName {
    display: flex;
}
.leagueStandings .logoPageName img {
    width: 60px;
    height: 60px;
    border: #ffbf66 2px solid;
    padding: 5px;
    margin: 0 15px 0 0;
}
.leagueStandings .logoPageName h1 {
    display: flex;
    align-items: flex-end;
}

.leagueStandings .wrap {
    display: flex;
}
.leagueStandings .wrap .col span {
    color: #000;
    padding: 0 20px;
    display: flex;
    height: 35px;
    align-items: center;
    font-size: 0.8em;
    justify-content: center;
}
.leagueStandings .wrap .scroll {
    display: flex;
    overflow: auto;
    border-left: 2px solid silver;
    padding: 0 0 20px 0;
}
.leagueStandings .wrap .col .head {
    background: #e2e2e2;
    font-weight: bold;
    border-bottom: 2px solid silver;
    font-size: 1em;
}
.leagueStandings .wrap .logoName {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50px;
    padding: 0 0 0 5px;
}
#league > div.leagueStandings > div.wrap > div:nth-child(2) > div > div, #league > div.leagueStandings > div.wrap > div:nth-child(3) > div > div {
    display: flex;
    align-items: center;
}
.leagueStandings .wrap .logoName img {
    max-width: 20px;
    height: auto;
    max-height: 20px;
    width: auto;
    margin: 0 8px 0 0;
}
.leagueStandings .wrap .logoName span {
    padding: 0;
}
.leagueStandings .wrap .col .place {
    font-size: .75em;
    font-weight: 700;
    font-family: "Graduate";
    width: 20px;
}
.leagueStandings .wrap .col .points {
    font-family: 'Graduate';
    font-weight: bold;
}
.leagueStandings [aria-describedby] {
    transform: scale(1) !important;
}
.leagueStandings .logoPageName {
    margin: 0 0 20px 0;
}

@media (min-width: 768px) {
    .leagueStandings .logoPageName img {
        width: 80px;
        height: auto;
        padding: 7px;
    }
    .leagueStandings {
        width: 568px;
        margin: auto;
    }
}   

@media (min-width: 1024px) {
    #league > div.leagueStandings > div > div:nth-child(2) {
        min-width: auto;
    }
    .leagueStandings .wrap { 
        display: flex;
        justify-content: center;
    }
    .leagueStandings .wrap .col .head {
        border: 0;
    }
    .leagueStandings .wrap .scroll {
        border: 0;
        padding: 0;
    }
    .leagueStandings .wrap .logoName {
        padding: 0 0 0 15px;
    }
}

@media (min-width: 1280px) {
    .leagueStandings .logoPageName img {
        width: 90px;
    }
} 