#addBroadcast form div {
    display: flex;
    flex-direction: column;
}
#addBroadcast form div label {
    color: #000;
    margin: 6px 0;
}
#addBroadcast form div:not(#addBroadcast form div:first-child) {
    margin: 20px 0 0 0;
}
#addBroadcast form div input {
    min-height: 35px;
    outline: none;
    font-size: 1em;
}
#addBroadcast form > button {
    position: fixed;
    background: rgba(204, 135, 45, 0.9);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 10%;
    right: 8%;
    color: #fff !important;
    font-size: 2em;
    outline: none;
    border: 0;
    cursor: pointer;
}
#addBroadcast #findChannels, #addBroadcast #findTeams1, #addBroadcast #findTeams2 {
    height: 30px;
    font-size: 1em;
    border: 1px solid #aaa;
    margin: 5px 0 0 0;
}
#addBroadcast .dropDown {
    display: none;
    background: rgb(204, 135, 45);
    width: 60%;
    padding: 10px;
    border-radius: 10px;
}
#addBroadcast .dropDown div {
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-content: center;
}
#addBroadcast .dropDown div:first-child {
    margin: 10px 0 0 0 !important;
}
#addBroadcast .dropDown div:hover {
    background: #18338a;
    padding: 0 0 0 10px;
    transition: 0.3s;
    font-weight: bold;
}