#topScores3 .col img {
    height: auto !important;
}

@media (min-width: 1024px) {
    #topScores3 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 130px;
    }
    #topScores3 .swiper-slide .head span:nth-child(4) {
        margin: 0 0 0 102px;
    }
}

@media (min-width: 1280px) {
    #topScores3 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 60px;
    }
    #topScores3 .swiper-slide .head span:nth-child(4) {
        margin: 0 0 0 35px;
    }
}

@media (min-width: 1680px) {
    #topScores3 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 70px;
    }
    #topScores3 .swiper-slide .head span:nth-child(4) {
        margin: 0 0 0 46px;
    }
}