body > iframe {
    z-index: 2023 !important;
}
#vkPosts {
    margin: 60px 0 0 0;
}
#vkPosts .swiper-slide {
    width: 100% !important;
}
#vkPosts .swiper-button-prev, #vkPosts .swiper-button-next {
    top: 200px;
}

@media (min-width: 1024px) {
    #vkPosts {
        width: 95.5%;
    }
}

@media (min-width: 1680px) {
    #vkPosts {
        width: 94%;
    }
}