/*-----Re reset-----*/
.extendedNews .textWrap table tr td {
    padding: 6px;
}
.extendedNews .textWrap a {
    color: rgb(0, 110, 201);
    text-decoration: underline;
}
.extendedNews .textWrap ul, .extendedNews .textWrap ol {
    margin: 10px !important;
    padding: 10px !important;
}
.extendedNews .textWrap ul {
    list-style: disc;
}
.extendedNews .textWrap ol {
    list-style: decimal;
}
.extendedNews .textWrap li {
    color: #000 !important;
}
.extendedNews .container img#mainImg {
    margin: 0 0 30px 0;
    border: 2px solid #ffbf66;
    box-shadow: 0 0 10px #000;
    width: 100%;
    height: auto;
}
.extendedNews .container img:not(.extendedNews .container img#mainImg ) {
    width: 100%;
    margin: 30px 0 10px 0;
}
.extendedNews .container {
    margin: auto;
}
.extendedNews .container .dateCategory .date {
    color: gray;
    font-weight: bold;
    display: block;
    padding: 40px 0;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.extendedNews .container .dateCategory {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.extendedNews .container .dateCategory .category {
    color: gray;
    font-weight: bold;
    margin: 0 0 0 15px;
    list-style: square;
}
.extendedNews .textWrap {
    color: #000;
    line-height: 1.4;
    font-family: Roboto;
}
.extendedNews p {
    color: #000;
}
.extendedNews table * {
    color: #000;
}
.extendedNews figure {
    width: 100%;
    margin: auto;
}


@media (min-width: 1024px) {
    .extendedNews .container img#mainImg {
        width: 400px;
        float: right;
        margin-left: 30px;
    }
    .extendedNews .container img:not(.extendedNews .container img#mainImg ) {
        width: 600px;
        margin: 30px auto;
        display: block;
    }
}