#standings2 .col img {
    width: 22px !important;
    height: 16px !important;
}

@media (min-width: 768px) {
    #standings2 {
       min-width: 300px !important;
    }
}

@media (min-width: 1024px) {
    #standings2 {
       min-width: 450px !important;
    }
    #standings2 .nums {
        margin: 0 60px 0 0;
    }
    #standings2 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 163px;
    }
}

@media (min-width: 1280px) {
    #standings2 {
       min-width: 300px !important;
       margin: 15px 0 0 0;
    }
    #standings2 .nums {
        margin: 0 11px 0 0;
    }
    #standings2 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 72px;
    }
}

@media (min-width: 1680px) {
    #standings2 .nums {
        margin: 0 20px 0 0;
    }
    #standings2 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 80px;
    }
}