.pageName {
    color: #000;
    padding: 5px 0;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 15px 0px;
    width: 100%;
    border-bottom: 2px solid #18338a;
}
.newsStandings {
    display: flex;
    flex-direction: column;
    position: relative;
}
.topScoresNews {
    flex-direction: column-reverse;
    display: flex;
}
.newsMatchesSchedule {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) { /* >= 768px */ 
    .newsStandings .standings {
        display: flex;
        justify-content: space-between;
    }
    .topScoresNews .topScores {
        display: flex;
        justify-content: space-between;
    }
    .standingsNews .standings {
        display: flex;
        justify-content: space-between;
    }
    .endedForecast {
        display: flex;
        justify-content: space-between;
    }
}

/*------------------Desctop-------------------*/
@media (min-width: 1024px) { /* >= 1024px */
    .pageName {
        font-size: 1.6em;
    }
    .newsStandings {
        justify-content: space-between;
        flex-direction: row;
    }
    .newsStandings .standings {
        display: block;
    }
    .uefaRanks {
        display: flex;
        justify-content: space-between;
    }
    .transfers {
        display: flex;
        justify-content: space-between;
    }
    #videoBlogs {
        display: flex;
        justify-content: space-between;
    }
    .newsMatchesSchedule {
        flex-direction: column;
    }
}

@media (min-width: 1280px) { /* >= 1280px */
    .topScoresNews .topScores {
        display: block;
    }
    .topScoresNews {
        flex-direction: row;
        justify-content: space-between;
    }
    .standingsNews {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
    }
    .standingsNews .standings {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: -32px 0 0 0;
        padding: 0 0 0 40px;
    }
}

@media (min-width: 1680px) { /* >= 1680px */
    .standingsNews .standings {
        padding: 0 0 0 60px;
    }
}