#league .sectionName {
    margin-top: 0;
}
#league #matchesSlider {
    margin: 0 0 40px 0;
}
#league #matchesSlider h2 {
    margin: 0 !important;
}
#league .pageName {
    margin: 0 !important;
}
#league #videoNews, #league #blogs {
    margin: 0;
}
#league .standGroup {
    color: #000;
    text-align: center;
    margin: 10px 0 18px 0;
    font-weight: bold;
}

#leagueEuQual > div.standingsTopScores > div.topScoresWrap > div > div > div.tLogoName > div > img, #leagueUnl > div.standingsTopScores > div.topScoresWrap > div > div > div.tLogoName > div > img, #league > div.leagueTopScores.table6xn > div > div.tLogoName > div > img {
    height: auto;
}