#standings4 .idB:nth-child(3), #standings4 .idC:nth-child(3), #standings4 .idD:nth-child(3), #standings4 .idE:nth-child(3), #standings4 .idF:nth-child(3), #standings4 .idG:nth-child(3), #standings4 .idH:nth-child(3) {
    display: none;
}
#standings4 .swiper-slide {
    width: 100%;
    border: 2px solid #ffbf66;
    margin: 20px 0 0 0;
    padding: 0 5px 17px 5px;
    position: relative;
}
#standings4 .group {
   color: #000;
   margin: 5px 0 0 0;
   position: absolute;
   top: 0;
}
.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 70px;
}
#standings4 .swiper-slide .lLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}
#standings4 .swiper-slide img {
    width: 40px;
    height: 40px;
}
#standings4 .swiper-slide .head {
    width: 100%;
    height: 30px;
    background: #e2e2e2;
    margin: 30px 0 0 0;
    display: flex;
    align-items: center;
}
#standings4 .swiper-slide .head span {
    color: #000;
}
#standings4 .swiper-slide .head span:first-child {
    margin: 0 0 0 10px;
}
#standings4 .swiper-slide .head span:nth-child(2) {
    margin: 0 0 0 20px;
}
#standings4 .swiper-slide .head span:nth-child(3) {
    margin: 0 0 0 55px;
}
#standings4 .swiper-slide .head span:nth-child(4) {
    margin: 0 0 0 15px;
}
#standings4 .swiper-slide .head span:nth-child(5) {
    margin: 0 0 0 15px;
}
#standings4 .col {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
}
#standings4 a {
    color: #000;
    display: flex;
    justify-content: center;
    margin: 15px 0 0 0;
    text-decoration: underline;
    text-underline-offset: 2px;
}
#standings4 a:hover {
    color: #ffbf66;
}
#standings4 .col .place {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: .75em;
    font-weight: 700;
    font-family: "Graduate",cursive;
    margin: 0 0 0 2px;
    color: #000;
}
#standings4 .col img {
    width: 25px;
    height: 25px;
}
#standings4 .col .forAgainst {
    display: flex;
    margin: 0 0 0 10px;
}
#standings4 .col .forAgainst span {
    margin: 0 0 0 2px;
}
#standings4 .col .name, #standings4 .col .games, #standings4 .col .forAgainst span, #standings4 .col .points {
    font-size: .75em;
    color: #000;
}
#standings4 .col .points, #standings4 .head span:last-child {
    font-weight: bold;
}
#standings4 .col .points {
    margin: 0 0 0 14px;
    font-size: 0.9em;
    font-family: 'Graduate', cursive;
}
#standings4 .nums {
    display: flex;
    margin: 0 8px 0 0;
    width: 85px;
    justify-content: space-between;
}
#standings4 .left {
    display: flex;
    align-items: center;
}
#standings4 .left img {
    margin: 0 0 0 10px;
}
#standings4 .left .name {
    margin: 0 0 0 4px;
}

@media (min-width: 320px) {
    #standings4 .swiper-slide .head span:first-child {
        margin: 0 0 0 10px;
    }
    #standings4 .swiper-slide .head span:nth-child(2) {
        margin: 0 0 0 20px;
    }
    #standings4 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 70px;
    }
    #standings4 .swiper-slide .head span:nth-child(4) {
        margin: 0 0 0 25px;
    }
    #standings4 .swiper-slide .head span:nth-child(5) {
        margin: 0 0 0 25px;
    }
    #standings4 .col .forAgainst {
        margin: 0 0 0 20px;
    }
    #standings4 .col .points {
        margin: 0 0 0 24px;
    }
    #standings4 .nums {
        margin: 0 10px 0 0;
        width: 105px;
    }
    #standings4 .left img {
        margin: 0 0 0 12px;
    }
    #standings4 .left .name {
        margin: 0 0 0 6px;
    }
}

@media (min-width: 360px) {
    #standings4 .swiper-slide .head span:first-child {
        margin: 0 0 0 20px;
    }
    #standings4 .swiper-slide .head span:nth-child(2) {
        margin: 0 0 0 30px;
    }
    #standings4 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 70px;
    }
    #standings4 .swiper-slide .head span:nth-child(4) {
        margin: 0 0 0 30px;
    }
    #standings4 .swiper-slide .head span:nth-child(5) {
        margin: 0 0 0 30px;
    }
    #standings4 .col .place { 
        margin: 0 0 0 14px;
    }
    #standings4 .col .forAgainst {
        margin: 0 0 0 25px;
    }
    #standings4 .col .points {
        margin: 0 0 0 29px;
    }
    #standings4 .nums {
        margin: 0 20px 0 0;
        width: 115px;
    }
    #standings4 .left img {
        margin: 0 0 0 20px;
    }
    #standings4 .left .name {
        margin: 0 0 0 8px;
    }
}

@media (min-width: 375px) {
    #standings4 .swiper-slide .head span:first-child {
        margin: 0 0 0 15px;
    }
    #standings4 .swiper-slide .head span:nth-child(2) {
        margin: 0 0 0 50px;
    }
    #standings4 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 85px;
    }
    #standings4 .swiper-slide .head span:nth-child(4) {
        margin: 0 0 0 25px;
    }
    #standings4 .swiper-slide .head span:nth-child(5) {
        margin: 0 0 0 25px;
    }
    #standings4 .col .place {
        margin: 0 0 0 8px;
    }
    #standings4 .col .forAgainst {
        margin: 0 0 0 21px;
    }
    #standings4 .col .points {
        margin: 0 0 0 23px;
    }
    #standings4 .nums {
        margin: 0 16px 0 0;
        width: 105px;
    }
    #standings4 .left img {
        margin: 0 0 0 40px;
    }
}

@media (min-width: 412px) {
    #standings4 .swiper-slide .head span:first-child {
        margin: 0 0 0 25px;
    }
    #standings4 .swiper-slide .head span:nth-child(2) {
        margin: 0 0 0 60px;
    }
    #standings4 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 95px;
    }
    #standings4 .swiper-slide .head span:nth-child(4) {
        margin: 0 0 0 25px;
    }
    #standings4 .swiper-slide .head span:nth-child(5) {
        margin: 0 0 0 25px;
    }
    #standings4 .col .place {
        margin: 0 0 0 18px;
    }
    #standings4 .nums {
        margin: 0 20px 0 0;
        width: 106px;
    }
    #standings4 .left img {
        margin: 0 0 0 52px;
    }
}

@media (min-width: 414px) {
    #standings4 .nums {
        margin: 0 22px 0 0;
        width: 105px;
    }
}

@media (min-width: 540px) {
    #standings4 .swiper-slide .head span:first-child {
        margin: 0 0 0 45px;
    }
    #standings4 .swiper-slide .head span:nth-child(2) {
        margin: 0 0 0 65px;
    }
    #standings4 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 120px;
    }
    #standings4 .swiper-slide .head span:nth-child(4) {
        margin: 0 0 0 50px;
    }
    #standings4 .swiper-slide .head span:nth-child(5) {
        margin: 0 0 0 50px;
    }
    #standings4 .col .place {
        margin: 0 0 0 37px;
    }
    #standings4 .col .forAgainst {
        margin: 0 0 0 46px;
    }
    #standings4 .col .points {
        margin: 0 0 0 48px;
    }
    #standings4 .nums {
        margin: 0 44px 0 0;
        width: 154px;
    }
    #standings4 .left img {
        margin: 0 0 0 58px;
    }
    #standings4 .left .name {
        margin: 0 0 0 12px;
    }
}

@media (min-width: 768px) {
    #standings4 {
        width: 340px;
    }
    #standings4 .swiper-slide .head span:first-child {
        margin: 0 0 0 20px;
    }
    #standings4 .swiper-slide .head span:nth-child(2) {
        margin: 0 0 0 30px;
    }
    #standings4 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 70px;
    }
    #standings4 .swiper-slide .head span:nth-child(4) {
        margin: 0 0 0 30px;
    }
    #standings4 .swiper-slide .head span:nth-child(5) {
        margin: 0 0 0 30px;
    }
    #standings4 .col .place {
        margin: 0 0 0 13px;
        min-width: 22px;
    }
    #standings4 .col .forAgainst {
        margin: 0 0 0 25px;
    }
    #standings4 .col .points {
        margin: 0 0 0 30px;
    }
    #standings4 .nums {
        margin: 0 12px 0 0;
        width: 115px;
    }
    #standings4 .left img {
        margin: 0 0 0 22px;
    }
}

@media (min-width: 820px) {
    #standings4 {
        width: 360px;
    }
    #standings4 .swiper-slide .head span:first-child {
        margin: 0 0 0 20px;
    }
    #standings4 .swiper-slide .head span:nth-child(2) {
        margin: 0 0 0 40px;
    }
    #standings4 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 80px;
    }
    #standings4 .col .points {
        margin: 0 0 0 30px;
    }
    #standings4 .nums {
        margin: 0 26px 0 0;
        width: 113px;
    }
    #standings4 .left img {
        margin: 0 0 0 32px;
    }
}

@media (min-width: 912px) {
    #standings4 {
        width: 410px;
    }
    #standings4 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 120px;
    }
}

@media (min-width: 1024px) {
    #standings4 {
        width: 310px;
    }
    #standings4 .swiper-slide .head span:first-child {
        margin: 0 0 0 15px;
    }
    #standings4 .swiper-slide .head span:nth-child(2) {
        margin: 0 0 0 25px;
    }
    #standings4 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 72px;
    }
    #standings4 .swiper-slide .head span:nth-child(4) {
        margin: 0 0 0 20px;
    }
    #standings4 .swiper-slide .head span:nth-child(5) {
        margin: 0 0 0 20px;
    }
    #standings4 .col .place {
        margin: 0 0 0 8px;
    }
    #standings4 .col .forAgainst {
        margin: 0 0 0 15px;
    }
    #standings4 .col .points {
        margin: 0 0 0 19px;
    }
    #standings4 .nums {
        margin: 0 10px 0 0;
        width: 95px;
    }
    #standings4 .left img {
        margin: 0 0 0 18px;
    }
    #standings4 .left .name {
        margin: 0 0 0 8px;
    }
}

@media (min-width: 1680px) {
    #standings4 {
        width: 360px;
    }
    #standings4 .swiper-slide .head span:first-child {
        margin: 0 0 0 25px;
    }
    #standings4 .swiper-slide .head span:nth-child(2) {
        margin: 0 0 0 40px;
    }
    #standings4 .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 35px;
    }
    #standings4 .swiper-slide .head span:nth-child(4) {
        margin: 0 0 0 25px;
    }
    #standings4 .swiper-slide .head span:nth-child(5) {
        margin: 0 0 0 25px;
    }
    #standings4 .col .place {
        margin: 0 0 0 18px;
    }
    #standings4 .col .forAgainst {
        margin: 0 0 0 21px;
    }
    #standings4 .col .points {
        margin: 0 0 0 23px;
    }
    #standings4 .nums {
        margin: 0 12px 0 0;
        width: 104px;
    }
    #standings4 .left img {
        margin: 0 0 0 31px;
    }
    #standings4 .left .name {
        margin: 0 0 0 8px;
    }
}