.table5xn .idB:nth-child(3), .table5xn .idC:nth-child(3), .table5xn .idD:nth-child(3), .table5xn .idE:nth-child(3), .table5xn .idF:nth-child(3), .table5xn .idG:nth-child(3), .table5xn .idH:nth-child(3) {
    display: none;
}
.table5xn .swiper-slide {
    width: 100%;
    border: 2px solid #ffbf66;
    margin: 20px 0 0 0;
    padding: 0 5px 17px 5px;
    position: relative;
}
.table5xn .group {
   color: #000;
   margin: 5px 0 0 0;
   position: absolute;
   top: 0;
}
.table5xn .swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 70px;
}
.table5xn .swiper-slide .lLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}
.table5xn .swiper-slide img {
    width: 40px;
    height: 40px;
}
.table5xn .head {
    width: 100%;
    height: 30px;
    background: #e2e2e2;
    margin: 30px 0 0 0;
    display: flex;
    align-items: center;
}
.table5xn .head span {
    color: #000;
}
.table5xn .head span:first-child {
    margin: 0 0 0 10px;
}
.table5xn .head span:nth-child(2) {
    margin: 0 0 0 20px;
}
.table5xn .head span:nth-child(3) {
    margin: 0 0 0 55px;
}
.table5xn .head span:nth-child(4) {
    margin: 0 0 0 15px;
}
.table5xn .head span:nth-child(5) {
    margin: 0 0 0 15px;
}
.table5xn .col {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
}
.table5xn a {
    color: #000;
    display: flex;
    justify-content: center;
    margin: 15px 0 0 0;
    text-decoration: underline;
    text-underline-offset: 2px;
}
.table5xn a:hover {
    color: #ffbf66;
}
.table5xn .col .place {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: .75em;
    font-weight: 700;
    font-family: "Graduate";
    margin: 0 0 0 2px;
    color: #000;
}
.table5xn .col img {
    width: 20px;
    height: 20px;
}
.table5xn .col .name, .table5xn .col .games, .table5xn .col .forAgainst span, .table5xn .col .points {
    font-size: .75em;
    color: #000;
}
.table5xn .col .points, .table5xn .head span:last-child {
    font-weight: bold;
}
.table5xn .nums {
    display: flex;
    margin: 0 8px 0 0;
    width: 85px;
    justify-content: space-between;
}
.standingsEurocups .nums {
    margin: 0 13px 0 0;
}
.table5xn .left {
    display: flex;
    align-items: center;
}
.table5xn .left img {
    margin: 0 0 0 10px;
}
.table5xn .left .name {
    margin: 0 0 0 4px;
}
.table5xn .col .games {
    min-width: 16px;
    display: flex;
    justify-content: center;
}
.table5xn .col .forAgainst {
    display: flex;
    min-width: 54px;
    justify-content: center;
}
.table5xn .col .forAgainst span {
    margin: 0 0 0 3px;
}
.table5xn .col .points {
    font-size: 0.9em;
    font-family: 'Graduate';
    min-width: 30px;
    display: flex;
    justify-content: center;
}

@media (min-width: 320px) {
    .table5xn .head span:first-child {
        margin: 0 0 0 10px;
    }
    .table5xn .head span:nth-child(2) {
        margin: 0 0 0 20px;
    }
    .table5xn .head span:nth-child(3) {
        margin: 0 0 0 70px;
    }
    .table5xn .head span:nth-child(4) {
        margin: 0 0 0 25px;
    }
    .table5xn .head span:nth-child(5) {
        margin: 0 0 0 25px;
    }
    .table5xn .nums {
        margin: 0 10px 0 0;
        width: 105px;
    }
    .standingsEurocups .nums {
        margin: 0 13px 0 0;
    }
    .table5xn .left img {
        margin: 0 0 0 12px;
    }
    .table5xn .left .name {
        margin: 0 0 0 6px;
    }
    .table5xn .col .games {
        min-width: 10px;
    }
    .table5xn .col .forAgainst {
        min-width: 80px;
    }
    .table5xn .col .points {
        min-width: 26px;
    }
}

@media (min-width: 360px) {
    .table5xn .head span:first-child {
        margin: 0 0 0 20px;
    }
    .table5xn .head span:nth-child(2) {
        margin: 0 0 0 30px;
    }
    .table5xn .head span:nth-child(3) {
        margin: 0 0 0 70px;
    }
    .table5xn .head span:nth-child(4) {
        margin: 0 0 0 30px;
    }
    .table5xn .head span:nth-child(5) {
        margin: 0 0 0 30px;
    }
    .table5xn .col .place { 
        margin: 0 0 0 14px;
    }
    .table5xn .nums {
        margin: 0 20px 0 0;
        width: 115px;
    }
    .standingsEurocups .nums {
        margin: 0 23px 0 0;
    }
    .table5xn .left img {
        margin: 0 0 0 20px;
    }
    .table5xn .left .name {
        margin: 0 0 0 8px;
    }
    .table5xn .col .games {
        min-width: 13px;
    }
    .table5xn .col .forAgainst {
        min-width: 88px;
    }
    .table5xn .col .points {
        min-width: 26px;
    }
}

@media (min-width: 375px) {
    .table5xn .head span:first-child {
        margin: 0 0 0 15px;
    }
    .table5xn .head span:nth-child(2) {
        margin: 0 0 0 50px;
    }
    .table5xn .head span:nth-child(3) {
        margin: 0 0 0 85px;
    }
    .table5xn .head span:nth-child(4) {
        margin: 0 0 0 25px;
    }
    .table5xn .head span:nth-child(5) {
        margin: 0 0 0 25px;
    }
    .table5xn .col .place {
        margin: 0 0 0 8px;
    }
    .table5xn .nums {
        margin: 0 16px 0 0;
        width: 105px;
    }
    .table5xn .nums {
        margin: 0 17px 0 0;
    }
    .table5xn .left img {
        margin: 0 0 0 40px;
    }
    .table5xn .col .games {
        min-width: 11px;
    }
    .table5xn .col .forAgainst {
        min-width: 82px;
    }
    .table5xn .col .points {
        min-width: 20px;
    }
}

@media (min-width: 393px) {
    .table5xn .head span:nth-child(3) {
        margin: 0 0 0 100px;
    }
}

@media (min-width: 412px) {
    .table5xn .head span:first-child {
        margin: 0 0 0 25px;
    }
    .table5xn .head span:nth-child(2) {
        margin: 0 0 0 60px;
    }
    .table5xn .head span:nth-child(3) {
        margin: 0 0 0 95px;
    }
    .table5xn .head span:nth-child(4) {
        margin: 0 0 0 25px;
    }
    .table5xn .head span:nth-child(5) {
        margin: 0 0 0 25px;
    }
    .table5xn .col .place {
        margin: 0 0 0 18px;
    }
    .table5xn .nums {
        margin: 0 20px 0 0;
        width: 106px;
    }
    .standingsEurocups .nums {
        margin: 0 22px 0 0;
    }
    .table5xn .left img {
        margin: 0 0 0 52px;
    }
}

@media (min-width: 414px) {
    .table5xn .nums {
        margin: 0 22px 0 0;
        width: 105px;
    }
    .standingsEurocups .nums {
        margin: 0 24px 0 0;
    }
}

@media (min-width: 540px) {
    .table5xn .head span:first-child {
        margin: 0 0 0 45px;
    }
    .table5xn .head span:nth-child(2) {
        margin: 0 0 0 65px;
    }
    .table5xn .head span:nth-child(3) {
        margin: 0 0 0 118px;
    }
    .table5xn .head span:nth-child(4) {
        margin: 0 0 0 50px;
    }
    .table5xn .head span:nth-child(5) {
        margin: 0 0 0 50px;
    }
    .table5xn .col .place {
        margin: 0 0 0 37px;
    }
    .table5xn .nums {
        margin: 0 44px 0 0;
        width: 157px;
    }
    .table5xn .nums {
        margin: 0 46px 0 0;
    }
    .table5xn .left img {
        margin: 0 0 0 58px;
    }
    .table5xn .left .name {
        margin: 0 0 0 12px;
    }
    .table5xn .col .games {
        min-width: 14px;
    }
    .table5xn .col .forAgainst {
        min-width: 128px;
    }
    .table5xn .col .points {
        min-width: 25px;
    }
}

@media (min-width: 768px) {
    .table5xn {
        width: 340px;
    }
    .table5xn .head span:first-child {
        margin: 0 0 0 20px;
    }
    .table5xn .head span:nth-child(2) {
        margin: 0 0 0 30px;
    }
    .table5xn .head span:nth-child(3) {
        margin: 0 0 0 70px;
    }
    .table5xn .head span:nth-child(4) {
        margin: 0 0 0 30px;
    }
    .table5xn .head span:nth-child(5) {
        margin: 0 0 0 30px;
    }
    .table5xn .col .place {
        margin: 0 0 0 13px;
        min-width: 22px;
    }
    .table5xn .nums {
        margin: 0 12px 0 0;
        width: 115px;
    }
    .standingsEurocups .nums {
        margin: 0 15px 0 0;
    }
    .table5xn .left img {
        margin: 0 0 0 22px;
    }
    .table5xn .col .games {
        min-width: 7px;
    }
    .table5xn .col .forAgainst {
        min-width: 94px;
    }
    .table5xn .col .points {
        min-width: 18px;
    }
}

@media (min-width: 820px) {
    .table5xn {
        width: 360px;
    }
    .table5xn .head span:first-child {
        margin: 0 0 0 20px;
    }
    .table5xn .head span:nth-child(2) {
        margin: 0 0 0 40px;
    }
    .table5xn .head span:nth-child(3) {
        margin: 0 0 0 70px;
    }
    .table5xn .nums {
        margin: 0 26px 0 0;
        width: 113px;
    }
    .standingsEurocups .nums {
        margin: 0 27px 0 0;
    }
    .table5xn .left img {
        margin: 0 0 0 32px;
    }
    .table5xn .col .forAgainst {
        min-width: 95px;
    }
}

@media (min-width: 912px) {
    .table5xn {
        width: 410px;
    }
    .table5xn .head span:nth-child(3) {
        margin: 0 0 0 120px;
    }
    .table5xn .col .games {
        min-width: 8px;
    }
    .table5xn .col .forAgainst {
        min-width: 94px;
    }
    .table5xn .col .points {
        min-width: 18px;
    }
}

@media (min-width: 1024px) {
    .table5xn {
        width: 310px;
    }
    .table5xn .head span:first-child {
        margin: 0 0 0 15px;
    }
    .table5xn .head span:nth-child(2) {
        margin: 0 0 0 25px;
    }
    .table5xn .head span:nth-child(3) {
        margin: 0 0 0 72px;
    }
    .table5xn .head span:nth-child(4) {
        margin: 0 0 0 20px;
    }
    .table5xn .head span:nth-child(5) {
        margin: 0 0 0 20px;
    }
    .table5xn .col .place {
        margin: 0 0 0 8px;
    }
    .table5xn .nums {
        margin: 0 10px 0 0;
        width: 95px;
    }
    .table5xn .left img {
        margin: 0 0 0 18px;
    }
    .table5xn .left .name {
        margin: 0 0 0 8px;
    }
    .table5xn .col .games {
        min-width: 3px;
    }
    .table5xn .col .forAgainst {
        min-width: 78px;
    }
    .table5xn .col .points {
        min-width: 16px;
    }
}

@media (min-width: 1280px) {
    .standingsEurocups .nums {
        margin: 0 11px 0 0;
    }
}

@media (min-width: 1680px) {
    .table5xn {
        width: 360px;
    }
    .table5xn .head span:first-child {
        margin: 0 0 0 25px;
    }
    .table5xn .head span:nth-child(2) {
        margin: 0 0 0 40px;
    }
    .table5xn .head span:nth-child(3) {
        margin: 0 0 0 90px;
    }
    .table5xn .head span:nth-child(4) {
        margin: 0 0 0 25px;
    }
    .table5xn .head span:nth-child(5) {
        margin: 0 0 0 25px;
    }
    .table5xn .col .place {
        margin: 0 0 0 18px;
    }
    .table5xn .nums {
        margin: 0 12px 0 0;
        width: 104px;
    }
    .standingsEurocups .nums {
        margin: 0 10px 0 0;
    }
    .table5xn .left img {
        margin: 0 0 0 31px;
    }
    .table5xn .left .name {
        margin: 0 0 0 8px;
    }
    .table5xn .col .games {
        min-width: 7px;
    }
    .table5xn .col .forAgainst {
        min-width: 85px;
    }
    .table5xn .col .points {
        min-width: 15px;
    }
}