.chempionov, [class="place Vikhod v 1/8 finala"] {
    background: linear-gradient(135deg, rgba(13,13,123,1) 35%, rgba(191,0,255,1) 100%);
    color: #fff !important;
}
.Yevropi, [class="place Vikhod v 1/16 finala"] {
    background: linear-gradient(135deg, rgba(255,87,0,1) 35%, rgba(0,0,0,1) 100%);
    color: #fff !important;
}
.konferentsii {
    background: linear-gradient(135deg, rgba(25,199,120,1) 35%, rgba(0,0,0,1) 100%);
    color: #fff !important;
}
.table5xn {
    min-width: 100% !important;
}
#standings .swiper-slide .head span:nth-child(3) {
    margin: 0 0 0 60px;
}
.head [aria-describedby]:hover {
    transform: scale(1.12) !important;
}

@media (min-width: 320px) {
    #standings .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 74px;
    }
}

@media (min-width: 375px) {
    #standings .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 85px;
    }
}

@media (min-width: 393px) {
    #standings .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 100px;
    }
}

@media (min-width: 412px) {
    #standings .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 97px;
    }
}

@media (min-width: 540px) {
    #standings .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 120px;
    }
}

@media (min-width: 768px) {
    #standings .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 76px;
    }
}

@media (min-width: 820px) {
    #standings .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 80px;
    }
}

@media (min-width: 912px) {
    #standings .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 125px;
    }
}
@media (min-width: 1024px) {
    #standings .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 63px;
    }
}

@media (min-width: 1680px) {
    #standings .swiper-slide .head span:nth-child(3) {
        margin: 0 0 0 95px;
    }
}