#preloader {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#fff;
	z-index: 9999;
	transition: 2s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#preloader .imgWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 200px;
	height: 150px;
}
#preloader .imgWrap img {
	position: absolute;
}
#preloader .imgWrap img:first-child {
	width: auto;
	height: 49px;
	left: 67px;
	top: 47px;
	animation: logoL 2s infinite;
}
#preloader .imgWrap img:last-child {
	width: 43px;
	height: auto;
	right: 71px;
	top: 50px;
	animation: logoF 2s infinite;
}
#preloader span {
	color: #000;
}