/*---------------Mobile--------------*/
#videoNews {
    margin: 40px 0 0 0;
}
#videoNews .cart {
    width: 100%;
    height: 250px;
    position: relative;
    transition: 0.6s;
    margin: 20px 0 0 0;
}
#videoNews .cart .img {
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -80px 100px 1px #000;
    background: linear-gradient(to right, transparent, #000, transparent);
    transition: 0.6s;
    overflow: hidden;
}
#videoNews .cart .img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.6s;
}
#videoNews .cart .playWrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#videoNews .cart .playWrap img {
    width: 70px;
    height: 70px;
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
}
#videoNews .LazyLoad.is-visible {
    height: auto;
}

@media (min-width: 540px) { /* >= 540px */
    #videoNews .cart {
        height: 280px;
    }
    #videoNews .cart .img img {
        height: 280px;
    }
}

@media (min-width: 768px) {
    #videoNews .cart {
        height: 230px;
        width: 360px;
    }
    #videoNews {
        width: 100%;
        margin: 20px 0 0 0;
    }
    #videoNews .cart .img img {
        height: 230px;
    }
}

@media (min-width: 820px) { /* >= 820px */
    #videoNews .cart {
        height: 240px;
        width: 385px;
    }
    #videoNews .cart .img img {
        height: 240px;
    }
}

@media (min-width: 912px) {
    #videoNews .cart {
        height: 280px;
        width: 426px;
    }
    #videoNews .cart .img img {
        height: 280px;
    }
}

@media (min-width: 1024px) {
    #videoNews .cart {
        height: 220px;
        width: 320px;
    }
    #videoNews .cart .playWrap img {
        width: 55px;
        height: 55px;
    }
    #videoNews {
        width: 660px;
    }
    #videoNews .cart .img img {
        height: 220px;
    }
}

@media (min-width: 1280px) {
    #videoNews .cart {
        height: 220px;
        width: 320px;
    }
    #videoNews {
        width: 658px;
    }
}

@media (min-width: 1680px) {
    #videoNews .cart {
        width: 385px;
        height: 250px;
    }
    #videoNews {
        margin: 50px 0 0 0;
        width: 790px;
    }
    #videoNews .cart .img img {
        height: 250px;
    }
}