footer {
    background: linear-gradient(to left, #18338a, #2098f7);
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer .container {
    width: 100%;
    padding: 20px 0 5px 0;
}
footer .container img {
    width: 50px;
}
footer .container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .container .links {
    margin: 18px 0;
}
footer .container .links li {
    list-style: none;
    margin: 14px 0;
    text-align: center;
    font-size: 0.9em;
}
footer > span {
    font-size: 0.9em;
    padding: 15px 0 20px 0;
}
footer hr {
    width: 100%;
    height: 1px;
    border-top: 0;
}
footer .copy {
    color: #fff !important;
}

@media (min-width: 1024px) { 
    footer .container {
        width: 1000px;
        margin: auto;
    }
    footer .container > div {
        flex-direction: row;
        justify-content: space-between;
    }
    footer .container .links li {
        text-align: left;
    }
}
@media (min-width: 1300px) { 
    footer .container {
        width: 1220px;
    }
}
@media (min-width: 1600px) { 
    footer .container {
        width: 1400px;
    }
}