#fifaRank {
    margin: 50px 0 0 0;
}
#fifaRank .uefaTable .logoWrap img, #fifaRankOther .uefaTable .logoWrap img {
    height: auto;
    width: 50px;
}
#fifaRank .uefaTable .flagName img, #fifaRankOther .uefaTable .flagName img {
    min-width: 18px;
    height: 17px;
}
#fifaRank .uefaTable .col:not(.uefaTable .col:nth-child(2)) div:nth-child(1) span:nth-child(1), #fifaRankOther .uefaTable .col:not(.uefaTable .col:nth-child(2)) div:nth-child(1) span:nth-child(1) {
    margin: 0 0 0 -14px;
}   
#fifaRank .flagName, #fifaRankOther .flagName {
    margin-left: 15px;
    align-items: center;
}
#fifaRank > section > div > div > div:nth-child(2) > span:nth-child(2), #fifaRankOther > section > div > div > div:nth-child(2) > span:nth-child(2) {
    width: 100px;
    text-align: center;
}
#fifaRank > section > div > .col:not(#fifaRank > section > div > .col:nth-child(2)) > div:nth-child(1) > span:nth-child(3), #fifaRankOther > section > div > .col:not(#fifaRankOther > section > div > .col:nth-child(2)) > div:nth-child(1) > span:nth-child(3) {
    margin-right: -20px;
}
#fifaRank > section > div > .col:not(#fifaRank > section > div > .col:nth-child(2)) > div:nth-child(1) > span.total, #fifaRankOther > section > div > .col:not(#fifaRankOther > section > div > .col:nth-child(2)) > div:nth-child(1) > span.total {
    margin-right: -20px;
    padding-left: 10px;
}
#fifaRank .diffEqual, #fifaRankOther .diffEqual {
    color: gray;
}
#fifaRank .diffUp, #fifaRankOther .diffUp {
    color: green;
}
#fifaRank .diffDown, #fifaRankOther .diffDown {
    color: red;
}
#fifaRank [aria-describedby]:hover, #fifaRankOther [aria-describedby]:hover {
    transform: scale(1.12) !important;
}
#fifaRank > section > div > div > div:nth-child(1) > div > span {
    padding: 0 30px 0 10px;
}

@media (min-width: 1024px) {
    #fifaRank .uefaTable .col:not(.uefaTable .col:nth-child(2)) div:nth-child(1) span:nth-child(1), #fifaRankOther .uefaTable .col:not(.uefaTable .col:nth-child(2)) div:nth-child(1) span:nth-child(1) {
        margin: 0 0 0 15px;
        display: flex;
        align-items: center;
    }   
    #fifaRank .flagName, #fifaRankOther .flagName {
        margin-left: -10px;
    }
    #fifaRank > section > div > .col:not(#fifaRank > section > div > .col:nth-child(2)) > div:nth-child(1) > span:nth-child(3), #fifaRankOther > section > div > .col:not(#fifaRankOther > section > div > .col:nth-child(2)) > div:nth-child(1) > span:nth-child(3) {
        margin-right: 50px;
    }
    #fifaRank > section > div > .col:not(#fifaRank > section > div > .col:nth-child(2)) > div:nth-child(1) > span.total, #fifaRankOther > section > div > .col:not(#fifaRankOther > section > div > .col:nth-child(2)) > div:nth-child(1) > span.total {
        padding-right: 20px;
        display: flex;
        align-items: center;
    }
    #fifaRank .uefaTable .flagName img, #fifaRankOther .uefaTable .flagName img {
        min-width: 25px;
        height: 22px;
    }
    #fifaRank > section > div > div > div:nth-child(1) > div > span {
        padding: 0 40px 0 10px;
    }
}