@font-face {
    font-family: Graduate;
    font-display: swap;
    src: url("assets/fonts/Graduate-Regular.ttf");
}
@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url("assets/fonts/Roboto-Regular.ttf");
}


/*--reset--*/
* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, s, samp,
small, strike, sub, sup, tt, var, b, u, center, ol, ul, li,
fieldset, form, label, legend, caption, article, aside, canvas, details, embed, footer, header, hgroup, 
main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #fff;
	font-family: Arial;
}
article, aside, details, footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow: hidden;
}
a {
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
table, tr, td {
	border: 1px solid #000;
}
table {
	border-collapse: collapse;
}

[aria-describedby] {
    cursor: help;
}
[aria-describedby]:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

#preloader {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#fff;
	z-index: 9999;
	transition: 2s;
	display: flex;
	justify-content: center;
	align-items: center;
}
#preloader .imgWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 200px;
	height: 150px;
}
#preloader .imgWrap img {
	position: absolute;
}
#preloader .imgWrap img:first-child {
	width: 34px;
	height: 49px;
	left: 67px;
	top: 30px;
	animation: logoL 2s infinite;
}
#preloader .imgWrap img:last-child {
	width: 57px;
	height: 49px;
	right: 65px;
	top: 45px;
	animation: logoF 2s infinite;
}
@keyframes logoL {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes logoF {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}